@model Mvc3rdParty.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    Html.EnableClientValidation();
    <div>
        <p>Username:</p>
        @Html.EditorFor(x => x.UserName)
        @Html.ValidationMessageFor(x => x.UserName)
    </div>
    
    <div>
        <p>Password:</p>
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    
    <div>
        <p>Date:</p>
        @Html.EditorFor(x => x.Edited)
        @Html.ValidationMessageFor(x => x.Edited)
    </div>

    <input type="submit" value="Login"/>
}
